@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif;
  min-width: 360px;
  color: white; }

a {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
  color: white; }

a:hover {
  text-decoration: underline solid currentColor; }

.fullscreen-bg {
  position: fixed;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.menu, .timeBox {
  margin-top: -3.35vw;
  margin-left: -.6vw; }

.menu:first-of-type, .timeBox:first-of-type {
  margin-top: -1.6vw; }

.headText, .tailText, .timeBox {
  font-size: 8vw;
  letter-spacing: -0.5vw;
  opacity: 0.5; }

.headText:hover {
  opacity: 1; }

.ease, .headText, .tailText, .timeBox, .playBtn, .playDetailBtn {
  transition: all 0.5s ease-in-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out; }

.songName {
  color: cornflowerblue;
  opacity: .75;
  font-size: 8vw;
  letter-spacing: -0.5vw; }

.timeBox {
  opacity: 1;
  margin-left: -.3vw; }

.time {
  display: inline-block;
  width: 21vw; }

.songListBox {
  position: absolute;
  bottom: 0;
  left: 0; }

.songItemBox {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
  margin-left: 1vw; }

.playBtn, .playDetailBtn {
  border: 2px solid white;
  background: transparent;
  color: inherit;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 0.2vw; }

.playBtn:hover, .playDetailBtn:hover {
  background: cornflowerblue;
  opacity: 0.75; }

.songItem {
  font-size: 3rem;
  padding-left: 1vw; }

.songDetailBox {
  display: flex;
  background: rgba(0, 0, 0, 0.25);
  padding: 2vw; }

.album {
  min-width: 325px;
  height: auto; }
  .album img {
    width: 100%; }

.details {
  padding: 0 1.5vw; }

.songTitle {
  display: inline-block;
  font-size: 4vw;
  vertical-align: middle;
  margin-top: -1vw; }

.playDetailBtn {
  height: 3vw;
  width: 3vw;
  font-size: 2vw;
  border: 0.12vw solid white;
  padding-bottom: 0.2vw;
  margin-top: 1vw; }

.description {
  margin: 2vw auto;
  font-size: 2.5vw; }

.headText, .songList, .playBtn, .playDetailBtn, .playDetailBtn {
  cursor: pointer; }

@media (max-width: 700px) {
  .fullscreen-bg {
    background: url("/img/videobg.jpg") center center/cover no-repeat; }
  .fullscreen-bg__video {
    display: none; }
  .songDetail {
    display: block;
    margin-top: 2vw; }
  .details {
    margin: 0 auto;
    width: 55vw; }
  .album {
    margin: 3vw auto;
    max-width: 325px; }
  .songTitle {
    font-size: 7vw; }
  .playDetailBtn {
    height: 5vw;
    width: 5vw;
    font-size: 3vw;
    border: 1px solid white; }
  .description {
    font-size: 4.5vw; } }
