<% include partials/header %>

  <div class="container error-box">
    <div class="row">
      <div class="col-12">
        <a href="/">
          <div class="media">
            <img class="media-object img-responsive" src="https://forgottenraven.files.wordpress.com/2013/08/broken-dish.jpg">
            <div class="error">
              <div>
                <strong>Oh Noes... Page does !exist</strong>
              </div>
              <div>
                Click for main page!
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

<% include partials/footer %>